@charset "utf-8";

body.dark {
  background-color: #1a1a2e;
  color: #e0e1e2;
  position: relative;
  overflow: hidden;
}

body.dark::before,
body.dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at 50% 50%, transparent, #000 70%);
  z-index: -1;
  filter: blur(40px);
}

body.dark::before {
  animation: shadow1 20s linear infinite;
}

body.dark::after {
  animation: shadow2 15s linear infinite;
}

@keyframes shadow1 {
  0% {
    transform: scale(0.5) rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: scale(1) rotate(180deg);
    opacity: 0.4;
  }
  100% {
    transform: scale(0.5) rotate(360deg);
    opacity: 0.2;
  }
}

@keyframes shadow2 {
  0% {
    transform: scale(0.7) rotate(0deg);
    opacity: 0.1;
  }
  50% {
    transform: scale(1) rotate(180deg);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.7) rotate(360deg);
    opacity: 0.1;
  }
}


body.dark::-webkit-scrollbar {
  width: 11px;
}

body.dark {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

body.dark::-webkit-scrollbar-track {
  background: #f0f0f0;
}

body.dark::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f0f0f0;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5 {
  color: #ffffff;
}

body.dark .edina_tm_mobile_menu .mobile_menu_inner,
body.dark .edina_tm_mobile_menu .dropdown {
  background-color: #1a1a2e;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

body.dark .my_trigger .hamburger .hamburger-inner::before,
body.dark .my_trigger .hamburger .hamburger-inner::after,
body.dark .my_trigger .hamburger .hamburger-inner {
  background-color: #ffffff;
}

body.dark .edina_tm_mobile_menu .dropdown .dropdown_inner ul li a {
  color: #e0e1e2;
}

body.dark .edina_tm_hero {
  background-color: #25274d;
}

body.dark .edina_tm_hero .image:before {
  background-color: #464866;
}

body.dark .edina_tm_hero .social ul li .svg {
  color: #e0e1e2;
}

body.dark .edina_tm_hero .social ul li .svg.custom {
  stroke: #e0e1e2;
}

body.dark .edina_tm_hero .social ul li a:hover .svg,
body.dark .edina_tm_hero .social ul li a:hover .svg.custom {
  color: #ffffff;
  stroke: #ffffff;
}

body.dark .edina_tm_sidebar {
  background-color: #1a1a2e;
  box-shadow: none;
}

body.dark .edina_tm_sidebar .logo {
  border-bottom-color: #5e5e5e;
}

body.dark .edina_tm_sidebar .author {
  border-top-color: #5e5e5e;
}

body.dark .edina_tm_sidebar .menu ul li .list_inner.current a:before,
body.dark .edina_tm_sidebar .menu ul li .list_inner a:before {
  background-color: #25274d;
}

body.dark .edina_tm_sidebar .menu ul li .list_inner a {
  color: #ffffff;
}

body.dark .edina_tm_sidebar .menu ul li .svg {
  color: #7e7e7e;
}

body.dark .edina_tm_sidebar .menu ul li .svg.custom {
  stroke: #7e7e7e;
}

body.dark .edina_tm_sidebar .menu ul li a:hover .svg,
body.dark .edina_tm_sidebar .menu ul li a:hover .svg.custom,
body.dark .edina_tm_sidebar .menu ul li .list_inner.current .svg,
body.dark .edina_tm_sidebar .menu ul li .list_inner.current .svg.custom {
  color: #ffffff;
  stroke: #ffffff;
}

body.dark .progress_inner .label {
  color: #ffffff;
}

body.dark .edina_tm_services {
  background-color: #25274d;
}

body.dark .edina_tm_services ul li .list_inner {
  background-color: #1a1a2e;
}

body.dark .edina_tm_services ul li .svg.custom {
  stroke: #e0e1e2;
}

body.dark .edina_tm_services ul li h3 {
  color: #ffffff;
}

body.dark .edina_tm_services ul li .learn_more {
  color: #e0e1e2;
}

body.dark .my_carousel ul .details span a {
  color: #e0e1e2;
}

body.dark .my_carousel ul .details h3 a {
  color: #ffffff;
}

body.dark .edina_tm_testimonials {
  background-color: #25274d;
}

body.dark .edina_tm_testimonials .list ul li .list_inner {
  background-color: #1a1a2e;
}

body.dark .edina_tm_testimonials .owl-theme .owl-dots .owl-dot.active span {
  background-color: #ffffff;
  border-color: #ffffff;
}

body.dark .edina_tm_news ul li .news_details span a {
  color: #e0e1e2;
}

body.dark .edina_tm_news ul li .news_details .title a {
  color: #ffffff;
}

body.dark .edina_tm_contact {
  background-color: #25274d;
}

body.dark .edina_tm_contact .extra_info .wrapper > li .list_inner {
  background-color: #1a1a2e;
}

body.dark .edina_tm_contact .mainpart .left {
  background-color: #1a1a2e;
}

body.dark .edina_tm_button a {
  border-color: #e0e1e2;
  color: #ffffff;
}

body.dark .edina_tm_button a:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #1a1a2e;
}

body.dark .edina_tm_modalbox .popup_informations h3 {
  color: #ffffff;
}

body.dark .edina_tm_modalbox .news_details span a,
body.dark .edina_tm_modalbox .news_details span a:before {
  color: #e0e1e2;
}

body.dark .edina_tm_modalbox .news_details .title a {
  color: #ffffff;
}

body.dark .edina_tm_modalbox .main_content .quotebox p {
  border-left-color: #ffffff;
}

body.dark .edina_tm_contact .mainpart .left .title span {
  color: #ffffff;
}

body.dark .edina_tm_modalbox .description_wrap::-webkit-scrollbar {
  width: 11px;
}

body.dark .edina_tm_modalbox .description_wrap {
  scrollbar-width: thin;
  scrollbar-color: #333 #111;
}

body.dark .edina_tm_modalbox .description_wrap::-webkit-scrollbar-track {
  background: #111;
}

body.dark .edina_tm_modalbox .description_wrap::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
  border: 3px solid #111;
}

body.dark .edina_tm_modalbox .box_inner {
  background-color: #1a1a2e;
}

body.dark .edina_tm_modalbox .main_content .quotebox p {
  color: #ffffff;
}

body.dark .edina_tm_modalbox .main_content .descriptions .bigger {
  color: #e0e1e2;
}

body.dark .edina_tm_contact input,
body.dark .edina_tm_contact textarea {
  border-bottom-color: rgba(224, 225, 226, 0.5);
}

body.dark .edina_tm_contact input:focus,
body.dark .edina_tm_contact textarea:focus {
  border-bottom-color: rgba(224, 225, 226, 1);
}

body.dark .edina_tm_contact .extra_info a {
  color: #e0e1e2;
}

body.intro #preloader:before,
body.intro #preloader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.intro #preloader:after {
  left: auto;
  right: 0;
}

body.intro .loader_line:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #555555;
  -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
  -o-animation: lineheight 1000ms ease-in-out 0s forwards;
  animation: lineheight 1000ms ease-in-out 0s forwards;
}

body.intro .loader_line:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #dddddd;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: lineround 1200ms linear 0s infinite;
  -o-animation: lineround 1200ms linear 0s infinite;
  animation: lineround 1200ms linear 0s infinite;
  animation-delay: 2000ms;
}
